/* ---- SECTIOND "Наши Принципы" ---- */
.our-principles {
  display: flex;
  .title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    text-transform: uppercase;
  } 
  .description {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71em;
  }
  svg {
    margin: auto;
  }
}
.principles-img-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: $bg-button;
}
@media screen and (min-width: 320px){
  .our-principles{
    flex-wrap: wrap;
    .title{
      text-align: center;
    }
  }
  .principles-item{
    width: 450px;
  }
}
@media screen and (min-width: 768px){
  .principles-item{
    width: 354px;
    &:nth-child(odd) {
      margin-right: 30px;
    }
  }
}
@media screen and (min-width: 1200px){
  .principles-section {
    padding-bottom: 0px;
  }
  .principles-item{
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}





 

  
  
  
 