/* -------------  HEADER STYLE END  --------*/
.header {
  position: relative;
  > .container {
    display: flex;
    align-items: center;
  }
}  
.header-wrapper{
  width: 100%;
  display: none;
}
.main-menu, 
.contact-menu {
  display: flex;
} 

.main-menu-item
{ &.state-active::after {
  content: "";
  display: block;
  width: 100%;

  height: 4px;
  border-radius: 2px;
  background-color: $main-action-color;
}
}
.main-menu-link,
.contact-menu-link{
  display: inline-block;
  color: $main-title-color;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover{
    color: $main-action-color;
    outline: none;
  }
}
.contact-menu-svg {
  margin-right: 8px;
  vertical-align: middle;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .contact-menu-link:hover &,
  .contact-menu-link:focus &{
    fill: $main-action-color;
    outline: none;
  }
}
.contact-menu-link{
  color: $main-text-color; 
}

@media screen and(max-width: 767px){
  .header {
    border-bottom: 1px solid #ececec;
    > .container {
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  } 
  .header-wrapper{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;

    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
  
    opacity: 0;
  
    background-color: $secendary-bg-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-wrapper{
    &.is-open{
      display: flex;
    opacity: 1;
    }
  }
  .main-menu-link,
  .contact-menu-link{
  font-size: 18px;
  line-height: 1.16em;
}
  .button-header-menu{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    &.is-open{
      .icon-burger{
        display: none;
      }
      .icon-close{
        display: block;
      }
    }
    &:focus,
    &:hover{
      outline: none;
    }
  }
  .icon-close{
    display: none;
  }
  .menu-svg{
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover{
      outline: none;
      fill: $main-action-color;
    }
  }
  .main-menu-item.state-active::after {
    margin-top: 8px;
  }
  .main-menu, 
  .contact-menu {
    align-items: center;
    flex-direction: column; 
    padding-top: 60px;
  } 
  .main-menu-item{
    &:not(:first-child){
      margin-top: 40px;
    }
  }
  .contact-menu-item{
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

@media screen and(min-width: 768px){
  .button-header-menu{
    display: none;
  }
  .header-wrapper{ 
    display: flex;  
    justify-content: center;
    align-items: center;
  }
  .main-navigation{
    margin-left: 81px;
  }
  .contact-menu {
    margin-left: auto; 
    flex-direction: column; 
  }
  .main-menu-item{
    &:not(:last-child){
      margin-right: 50px;
    }
  }
  .contact-menu-item{
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
 
  .contact-menu-link{ 
    font-size: 12px;
    line-height: 1.16em;
  }
  .main-menu-link{
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.33em;
  }
}

@media screen and(min-width: 1200px){

  .contact-menu-svg {
    margin-right: 10px;
  }

  .header-portfolio {
    border-bottom: 1px solid #ececec;
  }

  .main-menu {
    margin-left: 85px;  
  }

  .contact-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
  } 

  .contact-menu-item{
    &:not(:last-child) {
      margin: 0;
      margin-right: 30px;
    }
    font-size: 14px;
    line-height: 1.33em;
  }
  .contact-menu-svg {
    margin-right: 10px;
    
  }

}