/* ---- LOGO ----- */
.logo {
  color: $logo-main;
  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2em;
  > span {
    color: $main-action-color;
  }
}
  
 
  
  
  