
$logo-font: "Raleway", sans-serif;
$main-font: "Roboto", sans-serif;
$main-action-color: #2196f3;
$main-text-color: #757575;
$main-title-color: #212121;
$secendary-text-color: #ffffff;
$secendary-bg-color: #ffffff;
$logo-main: #000000;
$bg-footer: #2f303a;
$secendary-footer-color: rgba(255, 255, 255, 0.6);
$svg-color: #afb1b8;
$bg-what-we-do-tittle: rgba(47, 48, 58, 0.8);
$bg-button: #f5f4fa;
$bg-action-color: rgba(33, 150, 243, 0.9);